<div id="description">
	<p> The Roster </p>
	<a href="http://steamcommunity.com/profiles/76561198042695689/"><img src="http://steamsignature.com/profile/english/76561198042695689.png" alt="" title="" /></a>
	<a href="http://steamcommunity.com/id/13tim37/"><img src="http://steamsignature.com/profile/english/76561198006919587.png" alt="" title="" /></a>
</div>
