<%= link_to("<< Back to Index", {:action => 'index'}, :class => 'back-link') %>

<div class="delete nrp add">
	
	<h2> Delete Application </h2>
	
	<%= form_for(:nrp_application, :url => {:action => 'destroy', :id => @nrp_application.id}) do |f| %>
	
		<p> Are you sure you want to permanently delete this application? </p>
		<p><%= @nrp_application.user_name %></p>
		
		<div class="form-buttons">
			<%=submit_tag("Delete Application") %>
		</div>
		
	<% end %>
</div>